extends header_t.jade

block bcontent
  h1.cover-heading Contact
  br
  p.lead Please contact our team members if you have any questions or comments. We also welcome any suggestions to improve the tool itself.
  br
  br
  p - Dr. Yao Guo, Associate professor, E-mail: 
    a(href='mailto:yaoguo@pku.edu.cn') yaoguo@pku.edu.cn
  p - Haoyu Wang, PhD student, E-mail: 
    a(href='mailto:howiepku@pku.edu.cn') howiepku@pku.edu.cn
  p - Zi’ang Ma: MS student, E-mail: 
    a(href='mailto:maziang@pku.edu.cn') maziang@pku.edu.cn