extends header_f.jade

block bcontent
  h1.cover-heading Lib Radar Features.
  br
  h3 Fast
  p.lead 
    | Lib Radar takes just several seconds to scan an app.
  h3 Accurate
  p.lead
    | Lib Radar is trained with more than 1 million apps from Google Play, 
    | so this tool can find almost every popular library that the app uses.
  h3 Anti-Obfuscation
  p.lead
    | Many Android apps are obfuscated with obfuscator such as ProGuard,
    | which makes it difficult to recognize a library by its package names,
    | class names, method names and variable names.
    br
    | Lib Radar is an obfuscting-free approach which uses Android APIs for library scanning.