extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand= title
            nav
              ul.nav.masthead-nav
                li
                  a(href='/') Home
                li
                  a(href='/features') Features
                li.active
                  a(href='/top_libs') Top Libs
                li
                  a(href='/contact') Contact
        .inner.cover
          block bcontent
            
        .mastfoot
          .inner
            p
              | Copyright &copy 2015 
              //a(href='http://getbootstrap.com')
              | OS Lab, PKU, Code & Web by 
              a(href='http://sei.pku.edu.cn/~wanghy11/') @Howie
              | , 
              a(href='http://sei.pku.edu.cn/~maziang14/') @Zach
              | , Source 
              a(href='https://github.com/pkumza/lib-radar') @Github