doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/radar.png')
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script().
      var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "//hm.baidu.com/hm.js?3d37b81787bfb345025af486c4fb1125";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s);})();
  body
    block content
    // Placed at the end of the document so the pages load faster
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')

