extends header_t.jade

block bcontent
  h1.cover-heading Top Libraries
  br
  table.table
    thead
      tr
        th Library Name
        th Package Name
        th Type
        th Used By
        th Percent
    tbody
      tr
        th Android Support v4
        th android/support/v4
        th development aid
        th 515014
        th 50.12
      tr
        th Google Ads/AdMob
        th com/google/ads, com/admob
        th advertisement
        th 438114
        th 42.64
      tr
        th Google Mobile Service
        th com/google/android/gms
        th development aid
        th 249054
        th 24.24
      tr
        th Google Play
        th com/android/vending
        th app market
        th 130361
        th 12.69 
      tr
        th Facebook
        th com/facebook
        th social networking
        th 129283
        th 12.58 
      tr
        th Google Analysis
        th com/google/analysis
        th mobile analytics
        th 111641
        th 10.86 
      tr
        th Gson
        th com/google/gson
        th development aid
        th 98831
        th 9.62 
      tr
        th Apache Http
        th org/apache/http
        th development aid
        th 89955
        th 8.75 
      tr
        th Actionbarsherlock
        th com/actionbarsherlock
        th development aid
        th 87748
        th 8.54 
      tr
        th Apache Common
        th org/apache/commons
        th development aid
        th 87185
        th 8.48 
      tr
        th Google GCM
        th com/google/android/gcm
        th development aid
        th 80339
        th 7.82 
      tr
        th Apache Cordova
        th org/apache/cordova
        th development aid
        th 71082
        th 6.92 
      tr
        th SquareUp
        th com/squareup
        th payment
        th 68528
        th 6.67 
      tr
        th Flurry
        th com/flurry
        th mobile analytics
        th 59832
        th 5.82 
      tr
        th Twitter
        th twitter4j
        th social networking
        th 57185
        th 5.56 
      tr
        th Zxing
        th com/google/zxing
        th development aid
        th 56022
        th 5.45 
      tr
        th Jsoup
        th org/jsoup
        th development aid
        th 44660
        th 4.35 
      tr
        th Android Support v7
        th android/support/v7
        th development aid
        th 43679
        th 4.25 
      tr
        th ViewPagerIndicator
        th com/viewpagerindicator
        th UI component
        th 41246
        th 4.01 
      tr
        th Apache James
        th org/apache/james
        th development aid
        th 40813
        th 3.97 
      tr
        th Revmob
        th com/revmob
        th advertising
        th 38211
        th 3.72 
      tr
        th MillennialMedia
        th com/millennialmedia
        th advertising
        th 35795
        th 3.48 
      tr
        th Inmobi
        th com/inmobi
        th advertising
        th 32018
        th 3.12 
      tr
        th Nostra13
        th com/nostra13
        th development aid
        th 31739
        th 3.09 
      tr
        th Fmod
        th org/fmod
        th game engine
        th 31688
        th 3.08 
      tr
        th Slf4j
        th org/slf4j
        th development aid
        th 30841
        th 3.00 
      tr
        th Unity 3D
        th com/unity3d
        th game engine
        th 29940
        th 2.91 
      tr
        th XmlPull
        th org/xmlpull
        th development aid
        th 28575
        th 2.78 
      tr
        th Google Gdata
        th com/google/gdata
        th development aid
        th 28232
        th 2.75 
      tr
        th Kxml2
        th org/kxml2
        th development aid
        th 28173
        th 2.74 