extends header_t.jade

block bcontent
  h1.cover-heading Top Libraries
  br
  //pre= top_libs
  -var top_libs_objects = JSON.parse(top_libs)['top_libs']
  table.table
    thead
      tr
        th Library Name
        th Package Name
        th Type
        th Used By
        th Link
    tbody
    each obj in top_libs_objects
      tr
        td= obj['lib_name']
        td= obj['pack_name']
        td= obj['type']
        td= obj['popularity']
        td
          a(href= obj['link']) Link