extends layout

block content
  h1= 'upload'                                                                                                        
  form(method='post', action='/file/uploading', enctype='multipart/form-data')
     input(name='inputFile', type='file', multiple='mutiple')
     input(name='btnUp', type='submit',value='上传')