
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #222;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #000;
  border: 1px solid #202;
}

div.masthead {

  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0 0 70px rgba(144,144,144,.5);
  box-shadow: inset 0px 20px 30px 10px rgba(144,144,144,.3);
  /*background-color: rgba(225, 225, 225, 0.93);*/

}


div.mastfoot {

  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0 0 70px rgba(144,144,144,.5);
  box-shadow: inset 0px -20px 30px rgba(144,144,144,.3);
}

.btn input{
	width:20px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #f7f7f7;
}
body {
  color: #000;
  /* text-align: center; */
  text-shadow: 0 1px 3px rgba(255,200,200,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 70px rgba(144,144,144,.5);
          box-shadow: inset 0 0 70px rgba(144,144,144,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(25,25,25,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(25,25,25,.75);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #121;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.permission {
  width:27%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}


/*
 * Table
 */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd
}

/*
 * Cover
 */


.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}



/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(25,25,25,.5);
}


/*
 * Affix and center
 */

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .cover {
    padding: 80px 20px;
  }
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    /* change Max width to 992px */
    width: 992px;
  }
}

/* Raw result */
.raw {
	font-size:12px;
	text-align:left;
}
/* Popover Content Font Size */
div.popover-content {
  font-size: x-small;
}